mat-card {
  background-color: lightgray;
  margin-top: 5rem;

  & mat-card-header {
    display: flex;
    justify-content: space-between;
  }
  
  & mat-card-content {
    margin-top: 2rem;
    text-align: center;
  }
}

@media only screen and (min-width: 800px){
  mat-card {
    width: 50%;
    margin: auto;
    margin-top: 5rem;
  }
}